.card {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  width: 175px;
  font-size: 12px;
  position: relative;
}
.ard_title {
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__person {
  height: 55%;
  width: 100%;
  margin-top: 49px;
  margin-left: 37px;
  border-radius: 9px;
}
.card__stats {
  display: flex;
  margin-top: 8px;
  align-items: center;
}
.card__star {
  width: 14px;
  height: 14px;
  margin-left: 36px;
  margin-right: 2px;
  border-radius: 0.5px;
}
.gray {
  margin-left: 5px;
  color: #918e9b;
}
.bold {
  font-weight: 700;
}
.card__bio {
  font-size: 11px;
  width: 175px;
  margin-left: 36px;
  color: #222222;
  margin-bottom: 30px;
}

img span {
  padding: 2px;
}

.card_badge {
  position: absolute;
  top: 53px;
  left: 46px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
