.footWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 64px;
  margin-bottom: 44px;
  width: 317px;
  background: #161619;
  height: 64px;
  border-radius: 0 0 10px 10px;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  color: #918e9b;
}
