.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 317px;
  }


.image {
    margin: 44px 116px 0px 116px;
    width: 100%;
    height: 317px;
    background-image: url(../images/woman.jpg);
    /* background-repeat: no-repeat; */
    background-position-x: -20px;
    border-radius: 10px 10px 0px 0px;
  }