.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 550px;
  margin: 0 auto;
  background-color: #23252c;
  overflow: hidden;
}
.card {
  width: 317px;
  
}
.wrapper {
  background: #1A1B21;
  border-radius: 0 0 10px 10px;
}
