.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 868px;
  width: 550px;
  margin: 0 auto;
  background-color: #23252c;
}
.card {
  width: 317px;
  /* background-color: #fff; */
}
